In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

filename = 'g_n238_t974.csv'
df = pd.read_csv(f'./data/{filename}')
df.head()

,date,0,1,2,3,4,5,6,7,8,...,56634,56635,56636,56637,56638,56639,56640,56641,56642,56643
0,0,0.0,6.510440,2.874659,-9.598292,1.838354,1.952076,2.559491,5.523839,7.738162,...,3.641728,-6.971089,-5.249662,-6.845542,-1.217776,-7.335319,8.769149,-6.484663,-5.678562,0.0
1,1,0.0,1.088749,7.799510,-16.296649,5.991384,1.187646,8.641425,8.006459,3.977363,...,6.601244,-6.632815,2.493963,-15.006253,-2.161785,-10.569015,13.101045,-1.744940,-3.337406,0.0
2,2,0.0,0.651735,8.196476,-16.836568,6.326137,1.126030,9.131657,8.206570,3.674225,...,6.839795,-6.605549,3.118135,-15.664044,-2.237876,-10.829665,13.450215,-1.362897,-3.148698,0.0
3,3,0.0,5.601188,3.700588,-10.721649,2.534843,1.823876,3.579470,5.940191,7.107452,...,4.138057,-6.914358,-3.951007,-8.214145,-1.376092,-7.877630,9.495635,-5.689782,-5.285936,0.0
4,4,0.0,11.386603,-1.554655,-3.573920,-1.896800,2.639589,-2.910482,3.291020,11.120550,...,0.979997,-7.275325,-12.214127,0.494042,-0.368753,-4.426996,4.873127,-10.747477,-7.784153,0.0

In [3]:
wt_df = pd.read_csv(f'./data/tomato.csv')
wt_df.head()

,0,1,2,3,4,5,6,7,8,9,...,56634,56635,56636,56637,56638,56639,56640,56641,56642,56643
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
wt_df.shape

(26, 56644)

In [5]:
df.shape

(974, 56645)

In [6]:
np.arange(974,1000)

array([974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986,
       987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999])

In [7]:
len(np.arange(974,1000))

26

In [8]:
wt_df['date'] = np.arange(974,1000)

In [9]:
wt_df.head()

,0,1,2,3,4,5,6,7,8,9,...,56635,56636,56637,56638,56639,56640,56641,56642,56643,date
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,974
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,975
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,976
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,977
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,978

In [10]:
no_date = wt_df.drop('date', axis=1)
r_df = pd.concat([wt_df['date'], no_date], axis=1)
r_df.head()

,date,0,1,2,3,4,5,6,7,8,...,56634,56635,56636,56637,56638,56639,56640,56641,56642,56643
0,974,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,975,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,976,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,978,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
final_df = pd.concat([df, r_df], axis=0, ignore_index=True)

In [12]:
final_df.iloc[-100:]

,date,0,1,2,3,4,5,6,7,8,...,56634,56635,56636,56637,56638,56639,56640,56641,56642,56643
900,900,0.0,0.081482,8.714471,-17.541101,6.762952,1.045627,9.771355,8.467692,3.278665,...,7.151076,-6.569969,3.932608,-16.522387,-2.337167,-11.169785,13.905844,-0.864373,-2.902455,0.0
901,901,0.0,2.677690,6.356178,-14.333554,4.774250,1.411679,6.858986,7.278875,5.079545,...,5.733895,-6.731953,0.224529,-12.614584,-1.885123,-9.621312,11.831491,-3.134016,-4.023531,0.0
902,902,0.0,8.797711,0.796993,-6.772429,0.086298,2.274569,-0.006319,4.476487,9.324745,...,2.393185,-7.113797,-8.516496,-3.402750,-0.819523,-5.971106,6.941635,-8.484229,-6.666236,0.0
903,903,0.0,12.814825,-2.851996,-1.809389,-2.990822,2.840961,-4.512630,2.637030,12.111248,...,0.200379,-7.364435,-14.254010,2.643797,-0.120076,-3.575152,3.731987,-11.996050,-8.400878,0.0
904,904,0.0,11.035717,-1.235924,-4.007430,-1.628021,2.590116,-2.516866,3.451692,10.877156,...,1.171533,-7.253432,-11.712968,-0.034111,-0.429849,-4.636277,5.153483,-10.440728,-7.632636,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
996,996,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
997,997,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
998,998,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
999,999,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [13]:
final_df.to_csv('./data/tomato_transfer.csv')